*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*Boiler plate css above*/
/*Styling for hero class*/
.hero{
    display: flex;
    align-content: center;
    justify-content: center;
    background: linear-gradient(rgb(211, 170, 170), rgb(152, 127, 209));
    width: 100%;
    min-height: 100vh;
}
/*Beautify drop-area ID*/
#drop-area{
    height: 300px;
    padding: 30px;
    width: 500px;
    text-align: center;
    background: wheat;
}