*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*Boiler plate css above*/
/*Styling for hero class*/
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(211, 170, 170), rgb(152, 127, 209));
    width: 100%;
    min-height: 100vh;
}
/*Beautify drop-area ID*/
#drop-area{
    height: 300px;
    padding: 30px;
    width: 500px;
    border-radius: 20px;
    text-align: center;
    background: wheat;
}
/*Decorate img-view id*/
#img-view{
    border-radius: 22px;
    border: 3px dashed rgb(65, 62, 59);
    width: 100%;
    background: rgb(209, 183, 183);
    height: 100%;
}
/*Decorate icon*/
#img-view img{
    margin-top: 25px;
    width: 100px;
}
/*img text in span*/
#img-view span{
    color: rgb(61, 56, 56);
    margin-top: 15px;
    font-size: 13px;
    display: block;
}